<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee Management</title>
	
	<!-- Bootstrap -->
	<link href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	 <!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  -->
	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">



	  <script>
          

			function addMessage(datas){

			 	var btn = '<a href="" title="Edit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true" onclick="showRowData()"></span></a>&nbsp<a href="" title="Ganti Password" data-placement="bottom" data-toggle="tooltip" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true" onclick="showRowData()"></span></a>&nbsp<a href="" title="Hapus Data"class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true" onclick="showRowData()"></span></a>';
						 
				 var dataSet = [];				 
			
				for(i = 0; i<datas.length ; i++){
					var dataSet1 = [datas[i].empName,datas[i].empName,datas[i].empName,datas[i].empName,datas[i].empName,datas[i].empName,datas[i].empName,btn];					
					 dataSet.push(dataSet1);
				}

				// alert(dataSet);
				// console.log(dataSet);

				$(document).ready(function() {
				    $('#example').DataTable( {
				        data: dataSet,
				        columns: [
				            { title: "Name" },
				            { title: "Position" },
				            { title: "Office" },
				            { title: "Extn." },
				            { title: "Start date" },
				            { title: "Salary" },
				            { title: "Name2" },
				            { title: "Position2" },
				            { title: "Office2" },
				            { title: "Extn2." }
				        ]
				    } );
				} );

			}
			function formatDate(val) {
				var date = new Date(val);
				alert(val);
  				var monthNames = [
				    "January", "February", "March",
				    "April", "May", "June", "July",
				    "August", "September", "October",
				    "November", "December"
				  ];

  				var day = date.getDate();
  				var monthIndex = date.getMonth();
  				var year = date.getFullYear();

  				var bdate = day + ' ' + monthNames[monthIndex] + ' ' + year;

  					$('#bdate').text(bdate);
				}

			function showRowData(){
				alert('found!');
			}
			
		</script>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand visible-xs-block visible-sm-block" href="">Home</a> -->
				<a class="navbar-brand hidden-xs hidden-sm" href="">Home</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a id="list" >Employee List</a></li>
					<li><a id="showAddPage">Add Employee</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" id="tableList">
		<div class="content">
			<!-- <h1><%= test%></h1> -->
			<hr/>
			<table id = "example" class="display" cellspacing="0" width="100%">
				<thead>
					<th>Employee ID</th>
					<th>Name</th>
					<th>Age</th>
					<th>Birthdate</th>
					<th>Email</th>
					<th>Contact Number</th>
					<th>Status</th>
					<th>Action</th>										
				</thead>
				<tbody>
					
				
				<% for(var i=0; i < test.length ; i++) {%>

					<tr>
						<td><%= test[i].empID%></td>
						<td><%= test[i].empName%></td>
						<td><%= test[i].empBDate%></p></td>
						<td><p id="bdate" window.onload="formatDate(<%= test[i].empBDate%>)">qwewqe</p></td>
						<td><%= test[i].empEmail%></td>
						<td><%= test[i].empNumber%></td>
						<td>Active</td>
						<td><a href="" title="Edit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true" onclick="showRowData()"></span></a>&nbsp<a href="" title="Ganti Password" data-placement="bottom" data-toggle="tooltip" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true" onclick="showRowData()"></span></a>&nbsp<a href="" title="Hapus Data"class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true" onclick="showRowData()"></span></a></td>
						
					</tr>
				<% 	} %>	
				</tbody>							  
			</table>
			</div>
		
	</div>

	<!-- Start Page for Add Employee -->

	<div class="container" id="addpage">	
		<div class="content">
			<h2>Add Employee</h2>
			<hr />			
			<form class="form-horizontal" action="/add" method="post">
				<div class="form-group">
					<label class="col-sm-3 control-label">Employee ID</label>
					<div class="col-sm-2">
						<input type="text" name="empID" class="form-control" placeholder="0000000" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Name</label>
					<div class="col-sm-4">
						<input type="text" name="empName" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Job Title</label>
					<div class="col-sm-4">
						<input type="text" name="empTitle" class="form-control" placeholder="Jop Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Address</label>
					<div class="col-sm-4">
						<input type="text" name="empAddress" class="form-control" placeholder="Address" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Birthdate</label>
					<div class="col-sm-4">
						<input type="text" name="empBDate" class="input-group date form-control" date="" data-date-format="yyyy-mm-dd" placeholder="0000-00-00" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Mobile Number</label>
					<div class="col-sm-3">
						<input type="text" name="empNumber" class="form-control" placeholder="09XX-XXXXXXX" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Email Address</label>
					<div class="col-sm-2">
						<input type="text" name="empEmail" class="form-control" placeholder="email@gmail.com">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">SSS Number</label>
					<div class="col-sm-2">
						<input type="text" name="empSSS" class="form-control" placeholder="00-0000000-0">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">PhilHealth Number</label>
					<div class="col-sm-2">
						<input type="text" name="empPHNumber class="form-control" placeholder="00-000000000-0">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">TIN Number</label>
					<div class="col-sm-2">
						<input type="text" name="empTIN" class="form-control" placeholder="000-000-000-000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-sm-6">
						<input  id="save" type="submit" name="" class="btn btn-sm btn-primary" value="Save">
						<a  class="btn btn-sm btn-danger">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- End Page for Add Employee -->

	<h1>DISPLAY DATA</h1>
        <form action="/display" method="GET">
        	<input type="submit" name="" value="CLICK TO DISPLAY DATA">
        </form>


     <!-- <div class="container" id="editPage">	
		<div class="content">
			<h2>Edit Employee</h2>
			<hr />			
			<form class="form-horizontal" action="/add" method="post">
				<div class="form-group">
					<label class="col-sm-3 control-label">Employee ID</label>
					<div class="col-sm-2">
						<input type="text" name="empID" class="form-control" placeholder="0000000" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Name</label>
					<div class="col-sm-4">
						<input type="text" name="empName" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Job Title</label>
					<div class="col-sm-4">
						<input type="text" name="empTitle" class="form-control" placeholder="Jop Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Address</label>
					<div class="col-sm-4">
						<input type="text" name="empAddress" class="form-control" placeholder="Address" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Birthdate</label>
					<div class="col-sm-4">
						<input type="text" name="empBDate" class="input-group date form-control" date="" data-date-format="yyyy-mm-dd" placeholder="0000-00-00" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Mobile Number</label>
					<div class="col-sm-3">
						<input type="text" name="empNumber" class="form-control" placeholder="09XX-XXXXXXX" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Email Address</label>
					<div class="col-sm-2">
						<input type="text" name="empEmail" class="form-control" placeholder="email@gmail.com">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">SSS Number</label>
					<div class="col-sm-2">
						<input type="text" name="empSSS" class="form-control" placeholder="00-0000000-0">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">PhilHealth Number</label>
					<div class="col-sm-2">
						<input type="text" name="empPHNumber class="form-control" placeholder="00-000000000-0">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">TIN Number</label>
					<div class="col-sm-2">
						<input type="text" name="empTIN" class="form-control" placeholder="000-000-000-000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">&nbsp;</label>
					<div class="col-sm-6">
						<input  id="save" type="submit" name="" class="btn btn-sm btn-primary" value="Save">
						<a  class="btn btn-sm btn-danger">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>

 -->

	

	
	
	<!-- <script type="text/javascript" src="/public/js/jquery.js"></script> -->
	<script type="text/javascript" src ="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
	<script src="/public/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/public/js/script.js"></script>

	
</body>
</html>
